.board {
  display: grid;
  grid-template-columns: repeat(3, 3.7em);
  gap: 4px;
  margin: 0 auto;
  justify-content: center;
  padding: .3em;
  border-radius: .5em;
  border: 2px solid #000;
  background-color: #ccc;
}