.container {
    background-color: #9ee49e;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 16px;
    padding: 2em;
    border-radius: 1em;
}

.title {
    font-size: 32px;
    margin: 0;
    border-bottom: 2px solid #000;
    border-radius: 0.2em;
}

.status {
    font-size: 18px;
    margin: 0 0 8px 0;
    border: 2px solid transparent;
    padding: 4px 8px;
    border-radius: .5em;

    &.isWinner {
        color: green;
        font-weight: bold;
        border-color: green;
    }

    &.isDraw {
        color: orange;
        font-weight: bold;
        border-color: orange;
    }
}


.gameLayout {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.historyList {
    list-style: none;
    padding: 0.3em;
    margin: 0;
    height: 152px;
    max-height: 155px;
    overflow-y: auto;
    border: 2px solid #000;
    border-radius: .5em;
}

.historyButton {
    margin-bottom: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
}

.resetButton {
    padding: 0.2em 1em;
    font-size: 14px;
    cursor: pointer;
    color: black;
    background-color: orange;
}