.square {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  font-weight: 500;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: beige;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, border 0.2s;

   &.isWinner {
    color: gold;
    border: 1px solid gold;
    box-shadow: inset 0 0 30px gold;
    background-color: darkblue;
     cursor: auto;

    &:hover {
      background-color: darkblue;
      filter: brightness(90%);
    }

     &:focus {
       outline: none;
     }
  }

  &.noWinner {
    cursor: auto;

    &:hover {
      background-color: inherit;
    }

    &:focus {
      outline: none;
    }
  }

  &:hover {
    background-color: #f0f0f0;
  }
}