.historyList {
    list-style: none;
    padding: 0.3em;
    margin: 0;
    height: 152px;
    max-height: 155px;
    overflow-y: auto;
    border: 2px solid #000;
    border-radius: .5em;
}

.historyButton {
    margin-bottom: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
}
