.historyList {
    list-style: none;
    padding: 0.3em;
    margin: 0;
    max-height: 400px;
    width: fit-content;
    min-width: 150px;
    overflow-y: auto;
    border: 2px solid #000;
    border-radius: .5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyButton {
    margin-bottom: 4px;
    padding: 4px 8px;
    font-size: 14px;
    color: black;
    cursor: pointer;

    :disabled {
        color: gray;
    }
}
